{{#each Search}}
	<div class="find-results">
		<img src="http://img.omdbapi.com/?i=" + {{imdbID}} + "&apikey=8513e0a1"

		  <button type="button" class="btn btn-default" data-dismiss="modal">Add</button>
	<div>
{{/each}}